.login-container{
    margin-top: 10%;
    padding-left: 15%;
    padding-right: 15%;
}
.login-form-1{
    padding: 5%;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
}
.login-form-1 h3{
    text-align: center;
    color: #333;
}
.login-container form{
    padding: 10%;
}
.btnSubmit
{
    width: 20%;
    border-radius: 1rem;
    padding: 1.5%;
    margin-left: 15px;
    border: none;
    cursor: pointer;
    background-color: #0062cc;
    font-weight: 500;
    color: #fff;
}